.simple__bar__content {
    height: 320px;
    width: 835px;
    border-radius: 5px;
    grid-column: 1 / 4;
    background-color: #FBFBFB;
}

.simple__bar__content h3 {
    position: absolute;
    margin: 24px 0 0 32px;
    font-size: 15px;
}

.simple__bar__content__tooltip{
    background-color: #FF0000;
    color: white;
    padding: 5px;
}