.tiny__line__chart{
    height: 263px;
    width: 258px;
    border-radius: 5px;
    background-color: #FF0000;
}

.tiny__line__chart h3{
    color: #fff;
    position: absolute;
    opacity: 0.5;
    font-size: 15px;
    width: 180px;
    margin: 29px 0 0 34px;
}

.tiny__line__chart__tooltip {
    background: white;
    padding: 5px;
  }