.simple__radial__bar__chart {
    height: 263px;
    width: 258px;
    border-radius: 5px;
    position: relative;
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
}

.radialBarChart{
    transform-origin: center;
    transform: rotate(90deg) rotateX(3rad);
    
}

.simple__radial__bar__chart h3 {
    position: absolute;
    margin: 0;
    margin: 24px 0 0 30px;
    left: 0;
    top: 0;
}

.pourcent__score {
    position: absolute;
    text-align: center;
    width: 100px;
    /* margin: 32%; */
    background-color: #fff;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 25%;
    scale: 1.15;
}

.pourcent__score span{
    font-size: 30px;
}

.pourcent__score p {
    margin: 0;
    width: 80px;
    align-self: center;
}

