.content {
    position: absolute;
    display: flex;
    min-width: 1064px;
    height: 100%;
    justify-content: space-between;
    border: solid 1px purple;
}

.infos__chart{
    display: grid;
    grid: 1fr 1fr 1fr;
}